body {
  font-family: "Cal Sans", sans-serif;
  background: linear-gradient(to bottom, #e8ddd3 0%, #f6f4f2 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  color: #333;
}



nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 40px;
}

nav ul li button {
  background-color: black;
  border: none;
  padding: 15px 70px;
  border-radius: 30px;
}

nav ul li button a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}


.datos-grafica{
  border: 2px solid #333;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  
}

.boton__agregarTramo, .boton__graficar{
  margin: 10px;
  background-color: #c600ff;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

#listaTramos{
  list-style: none;
}

.contenedor__graficas{
  display: flex;
  flex-direction: row;
  width: 100%;
}