body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
}

header{
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 40px;
}

nav ul li button {
  background-color: black;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
}

nav ul li button a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

h1 {
  font-size: 32px;
  margin-top: 20px;
}

h2 {
  font-size: 26px;
  margin-top: 40px;
  font-weight: bold;
}


.conversor{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.campo{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 320px;
  border-radius: 20px;
}

.campo__titulo{
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

.campo__select{
  display: flex;
  gap: 10px;
  width: 100%;
}

.campo__valor,
.campo__select-options{
  flex: 1;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #242323;
  border-radius: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.boton__submit {
  background-color: #c600ff;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

.boton__submit:hover {
  background-color: #9307b6;
}


.resultados {
  max-width: 500px;
  margin: 30px auto;
  padding: 0;
}

.resultados__subtitulo{
  margin-bottom: 20px;
}

.resultados .resultados__value {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.resultados__subtitulo{
  font-weight: bold;
  font-size: 14px;
}

.campo__valor{
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #242323;
  border-radius: 20px;
  min-width: 150px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

