body {
  font-family: "Cal Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  background: linear-gradient(to bottom, #ece1d9 0%, #f6f4f2 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
}

header {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px 0;
}

nav ul li {
  list-style: none;
  display: flex;
}


.boton-navegacion {
  background-color: black;
  color: white;
  padding: 15px 70px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-navegacion:hover {
  background-color: #333;
}


h1 {
  font-size: 32px;
  margin-top: 20px;
}

h2 {
  font-size: 26px;
  margin-top: 40px;
  font-weight: bold;
}


.conversor {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 320px;
  border-radius: 20px;
}

.campo__titulo {
  font-weight: 75;
  text-align: left;
  font-size: 16px;
}

.campo__select {
  display: flex;
  gap: 10px;
  width: 100%;
}

.campo__valor,
.campo__select-options {
  flex: 1;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #242323;
  border-radius: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.boton__submit {
  background-color: #c600ff;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

.boton__submit:hover {
  background-color: #a400d4;
}

.resultados {
  max-width: 500px;
  margin: 30px auto;
  padding: 0;
}

.resultados__subtitulo {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
}

.resultados .resultados__value {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.campo__valor {
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #242323;
  border-radius: 20px;
  min-width: 150px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.contenedor__graficas {
  display: flex;
  flex-direction: row;
  width: 100%;
}


@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 0;
  }

  nav ul li {
    width: auto;
    display: flex;
    justify-content: center;
  }

  .datos-grafica {
    width: 100%;
    flex-direction: column;
    padding: 10px;
  }

  .contenedor__graficas {
    flex-direction: column;
  }

  .boton__agregarTramo,
  .boton__graficar {
    width: 100%;
  }

  .encuentros__formulario {
    flex-direction: column;
  }

  .opciones-direccion {
    flex-direction: column;
    gap: 15px;
  }

  .ilustracion {
    width: 90%;
    height: auto;
    padding: 10px;
  }

  .resultado-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .resultado__etiqueta,
  .resultado__value {
    width: 100%;
  }
}
